<nav style="display: flex; column-gap: 1rem; margin-bottom: 1rem">
  <a class="button"
     routerLinkActive="activeButton"
     routerLink="/login">
    Login
  </a>
  <a class="button"
     routerLinkActive="activeButton"
     routerLink="/" [routerLinkActiveOptions]="{exact: true}">
    Home
  </a>
  <a class="button"
     routerLinkActive="activeButton"
     routerLink="/users">
    Users
  </a>
  <a class="button"
     routerLinkActive="activeButton"
     routerLink="/todos">
    Todolists
  </a>
</nav>

<router-outlet></router-outlet>
